Source: ros-groovy-pcl
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libeigen3-dev, libmysqlclient-dev, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx, ros-groovy-catkin, ros-groovy-cpp-common, ros-groovy-flann, ros-groovy-pcl-msgs, ros-groovy-rosbag, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-roscpp-serialization, ros-groovy-roscpp-traits, ros-groovy-rostime, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-topic-tools
Homepage: http://www.pointclouds.org
Standards-Version: 3.9.2

Package: ros-groovy-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, libmysqlclient-dev, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx, ros-groovy-cpp-common, ros-groovy-flann, ros-groovy-pcl-msgs, ros-groovy-rosbag, ros-groovy-rosconsole, ros-groovy-roscpp, ros-groovy-roscpp-serialization, ros-groovy-roscpp-traits, ros-groovy-rostime, ros-groovy-sensor-msgs, ros-groovy-std-msgs, ros-groovy-topic-tools
Description: The Point Cloud Library (or PCL) for point cloud processing - development The PCL framework contains numerous state-of-the art algorithms including filtering, feature estimation, surface reconstruction, registration, model fitting and segmentation.
