Source: ros-hydro-pcl
Section: misc
Priority: extra
Maintainer: "William Woodall <william@osrfoundation.org>, Julius Kammerl <jkammerl@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), flann, libboost-all-dev, libeigen3-dev, libmysqlclient-dev, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx
Homepage: http://www.pointclouds.org
Standards-Version: 3.9.2

Package: ros-hydro-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, flann, libboost-all-dev, libeigen3-dev, libmysqlclient-dev, libqhull-dev, libusb-1.0-0-dev, libvtk5-dev, python-sphinx, ros-hydro-catkin
Description: The Point Cloud Library (or PCL) for point cloud processing - development The PCL framework contains numerous state-of-the art algorithms including filtering, feature estimation, surface reconstruction, registration, model fitting and segmentation.
